@import '~src/style/colors';
@import '~src/style/variables';
@import '~src/style/breakpoints';

:host {
  margin-top: 70px;
  display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  z-index: 20;
  box-shadow: 0px -2px 20px -10px;
  background: $white;
  justify-content: center;
  &__wrapper {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    max-width: 1000px;
    margin: 0 12px;
    button {
      height: 36px;
    }
    @include lg {
      margin: 0;
    }
  }
}

.app-page {
  // margin-top: 70px;
  // display: flex;
}