:host {
  width: 100%;
}

.user-page {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 400px;
    li {
      padding: 10px;
      margin: 10px 0;
      background: #ededed;
      border-radius: 5px;
    }
  }
}