<h2>Fed<span>Tx</span></h2>
<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline" class="login__firstname">
      <mat-label>Firstname</mat-label>
      <input formControlName="firstName" matInput placeholder="write your firstname">
      <mat-error *ngIf="loginForm.get('firstName').errors">Firstname is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="login__lastname">
      <mat-label>Lastname</mat-label>
      <input formControlName="lastName" matInput placeholder="write your lastname">
      <mat-error *ngIf="loginForm.get('lastName').errors">Lastname is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="login__email">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="write your email">
      <mat-error *ngIf="loginForm.get('email').errors">Email is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="login__password">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput placeholder="write your password">
      <mat-error *ngIf="loginForm.get('password').errors">{{loginForm.get('password').errors?.passowrd}}</mat-error>
    </mat-form-field>
    <div class="login__submit" [ngClass]="{ 'login__submit--logging': isLogging }">
      <button type="submit" color="primary" [disabled]="!loginForm.valid" mat-stroked-button>Login</button>
      <mat-spinner [diameter]="26" *ngIf="isLogging"></mat-spinner>
    </div>
  </form>
</div>
