// Small tablets and large smartphones (landscape view)
$screen-smx-min: 380px;

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin smx-max {
  @media (max-width: #{$screen-smx-min}) {
      @content;
  }
}

@mixin sm-max {
  @media (max-width: #{$screen-sm-min - 1px}) {
      @content;
  }
}

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md-max {
  @media (max-width: #{$screen-md-min - 1px}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}
